<div class="container">
  <div id="title">
    <center>
      <br><b><header>HR Management System</header></b>
    </center>
  </div>

  <div id="back">
    <%= link_to "Back", home_index_path(), class: 'back_button' %>
  </div>

  <div>
    <center><br><b><h4> Employee Quries </h4></b></center>
  </div>

  <div>
    <div id="content">
      <center>
        <div>
        <%= form_tag("/complaint", method: "get") do %>
        <%= text_field_tag(:id, "", class: "input form-control", :placeholder => "Employee id")  %>
       </div>
       <%= submit_tag("Get",class:"get_button") %>
        <% end %>
      </center>
    </div>



  <% if @complaint.present? %>
    <center>
        <div id="result">
            <table class="table table-bordered">
                <tr>
                    <th> Emp ID </th>
                    <th> Emp Name </th>
                    <th> Emp Query </th>
                    <th> Query Status</th>
                </tr>
                    <% @complaint.each_with_index do |ot, index | %>
                        <tr>
                        <td><%= ot["emp_id"]%></td>  
                        <td><%= ot["emp_name"]%></td>
                        <td><%= ot["emp_query"]%></td>
                        <td><%= ot["query_status"]%></td>
                        </tr>
                    <% end %>
            </table>
        </dvi>
    </center>
<%end%>